body{
background-color:#D2B48C;


}
.signin{
	margin:15%;
	text-align:center;
	border:1px solid blue;
	padding-bottom:10px;
	border-radius:10px;

}
.welcome{
	margin-top:50px;;
	text-align:center;
}
#uname{
	
	margin:5px;
	align:center;
}


